<div class="container">
    <span ng-if="myInfoCtrl.showUp">
        Not Signed Up Yet.
        <br>
        <a ui-sref="public.signup">
            Sign up Now!
        </a>
    </span>
    
    <div ng-if="myInfoCtrl.showUp === false">
        <div>Name: {{ myInfoCtrl.user.first_name }} {{ myInfoCtrl.user.last_name }}</div>
        <div>E-mail: {{ myInfoCtrl.user.email }}</div>

        <h2>Favorite Menu Item</h2>   

        <div class="menu-item-tile col-md-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu-item-photo">
                  <div>{{myInfoCtrl.menuItem.short_name}}</div>
                  <img class="img-responsive" width="250" height="150" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.menuItem.short_name}}.jpg" alt="{{myInfoCtrl.menuItem.name}}">
                </div>
                <div class="menu-item-price">{{myInfoCtrl.menuItem.price_small | currency}}<span> {{myInfoCtrl.menuItem.small_portion_name}}</span> {{myInfoCtrl.menuItem.price_large | currency}} <span>{{myInfoCtrl.menuItem.large_portion_name}}</span></div>
              </div>
              <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">{{myInfoCtrl.menuItem.name}}</h3>
                <p class="menu-item-details">{{myInfoCtrl.menuItem.description}}</p>
              </div>
            </div>
            <hr class="visible-xs">
        </div>
    </div>
</div>